@{
    ViewBag.Title = "Home Page";
}

<div class="wraper">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Strona główna</li>
        </ol>
    </nav>
    <div class="container home-page">
        <h1>Witamy w ShopMVC!</h1>
        <h3>Życzymy miłych zakupów.</h3>
    </div>
</div>