@model ShopMVC.ViewModels.OrdersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zamówienia</h2>
<div class="wraper">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Strona główna</a></li>
            <li class="breadcrumb-item active" aria-current="page">Zamówienia</li>
        </ol>
    </nav>
    <div class="container orders-list">
        <ul>
            @foreach (var order in Model.Orders)
            {
                <li><a href="@Url.Action("Details", "Orders", new { id = order.Id })">Zamówienie @order.Id</a></li>
            }
        </ul>
    </div>
</div>

